.center {
    display: block;
    margin: 0 auto;
}

.space-top {
    margin-top: 10%;
}

.caption {
    text-align: center;
    font-size: .9rem;
}

.spacer {
    display: inline-block;
    width: 15px;
}